.controller-container {
  width: 740px;
  height: 420px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  &:hover {
    cursor: pointer;
  }
  .click-to-play-or-pause {
    width: 100%;
    height: calc(~'100% - 47px');
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
  }
  .play-icon {
    display: inline-block;
    position: absolute;
    bottom: 60px;
    right: 30px;
    width: 40px;
    height: 26px;
    border: 3px solid #fff;
    line-height: 26px;
    text-align: center;
    border-radius: 30%;
    color: #fff;
    opacity: 0.6;
  }
  .progress-and-controls-wrap {
    width: calc(~"(100% - 26px)");
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}